.container {
  display: flex;

  .user_detail {
    align-items: center;

    .card {
      //   align-items: center;
      //   display: flex;
      //   flex-direction: column;
      //   justify-content: center;
      width: 280px;
      height: 390px;
      margin-right: 2rem;

      .avatar {
        width: 150px;
        height: 150px;
        margin-inline: auto;
        border-radius: 50%;
        background-color: #c4c4c4;
      }

      .name_section {
        text-align: center;

        h3 {
          font-weight: 700;
          font-size: 1.1rem;
          margin-top: 1rem;
        }
        p {
          color: #636363;
          font-size: 14px;
        }
      }

      .tag_section {
        margin-inline: auto;
        align-items: center;
        display: grid;
        place-items: center;

        .tag {
          padding-block: 0.5rem;
          padding-inline: 1rem;
          border-radius: 11px;
          margin-left: 5px;
        }
      }

      .email_section {
        position: absolute;
        bottom: 0;
        right: 10px;
        left: 10px;
        p {
          font-size: 14px;
          text-align: center;
          color: #636363;
        }
      }
    }
  }

  .interns {
    width: 100%;
    max-width: 85rem;
    display: flex;
    flex-wrap: wrap;

    .intern {
      flex: 1;
      max-width: 330px;
      margin-bottom: 1rem;
    }
  }
}
