.main {
  width: 100%;
  height: 100vh;
  display: flex;
  .wallpaper {
    width: 65%;
    height: 100vh;
    background-image: url("../../assets/images/loginWallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
  }

  .form {
    width: 40%;
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .logo {
      width: 266px;
      margin-bottom: 3rem;
    }

    form {
      width: 70%;
      margin-inline: auto;
      h2 {
        margin-bottom: 1rem;
        font-size: 1.5rem;
        font-weight: 300;
        opacity: 0.8;
        text-align: center;
      }

      .field {
        margin-bottom: 1rem;
        .input {
          border: 1px solid rgb(221, 221, 221);
          border-radius: 10px;
          padding-block: 0.7rem;
          padding-inline: 1rem;
          width: 100%;
          outline: none;
        }
      }

      .button_wrapper {
        button {
          width: 100%;
          border-radius: 10px;
          border: none;
          background-color: #1e5579;
          color: #fff;
          height: 48px;
          max-height: 48px;
          font-weight: 600;
          cursor: pointer;
          transition: 0.3s ease;

          .spinner {
            margin-top: 3px;
            animation: spin 1s linear infinite;
          }

          @keyframes spin {
            to {
              transform: rotate(360deg);
            }
          }

          &:hover {
            opacity: 0.7;
          }
        }
        .button_loading {
          opacity: 0.7;
        }
      }
    }
  }
}
