.container {
  display: flex;
  width: 100%;
  & > *:not(:last-child) {
    margin-right: 1rem;
  }
  .right {
    width: 30%;
  }
  .left {
    width: 70%;
    .flexCharts {
      display: flex;
      width: 100%;
      & > * {
        flex: 1;
        margin-top: 2rem;
      }
      & > *:not(:last-child) {
        margin-right: 1rem;
      }
      @media only screen and (max-width: 1400px) {
        flex-direction: column;
        & > * {
          margin-top: 2rem;
          margin-right: 0 !important;
        }
      }
    }
  }
}
