.form_container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;

  .wallpaper_section {
    width: 55%;
    height: 100%;
    background-image: url("../../assets/images/verificationWallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    img {
      width: 100%;
    }
  }

  .content {
    width: 45%;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .form_wrapper {
      margin-top: 4rem;
      width: 60%;
      .field {
        margin-bottom: 1rem;
        .input {
          border: 1px solid rgb(221, 221, 221);
          border-radius: 10px;
          padding-block: 0.7rem;
          padding-inline: 1rem;
          width: 100%;
          outline: none;
        }
      }

      .button_section {
        button {
          width: 100%;
          border-radius: 10px;
          border: none;
          background-color: #1e5579;
          color: #fff;
          height: 48px;
          max-height: 48px;
          font-weight: 600;
          cursor: pointer;
          transition: 0.3s ease;

          .spinner {
            margin-top: 3px;
            animation: spin 1s linear infinite;
          }

          @keyframes spin {
            to {
              transform: rotate(360deg);
            }
          }

          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
    .divider {
      width: 60%;
      height: 1px;
      background-color: #d9d9d9;
      margin-top: 2rem;
    }
    .sub_link {
      width: 60%;
      margin-top: 10px;
      span {
        color: #1e5579;
        font-weight: 700;
        font-size: 15px;
        cursor: pointer;
      }
    }
  }
}

.intern_container {
  width: 100%;
  background-color: #f0f2f5;
  min-height: 100vh;
  padding-bottom: 5rem;
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: auto;
    width: 80%;
    max-width: 1000px;
    padding-top: 3rem;

    .logo_section {
      margin-bottom: 2rem;
      cursor: pointer;
    }

    .intern_detail {
      width: 100%;
      .intern_detail_card {
        display: flex;
        justify-content: space-between;
        .card_left {
          display: flex;
          // align-items: center;

          .info {
            margin-left: 0.7rem;
            display: flex;
            flex-direction: column;
            h2 {
              font-size: 19px;
              font-weight: 700;
              margin-bottom: 0px;
            }
            span {
              margin: 0;
            }
            .tag {
              width: 110px;
              margin-top: 0.6rem;
              display: flex;
              justify-content: center;
              align-items: center;
              padding-block: 5px;
              border-radius: 12px;
            }
          }
        }

        .personal_info {
          .field {
            display: flex;
            .title {
              width: 145px;
              color: #636363;
            }
            .desc {
              color: #636363;
              font-weight: 700;
            }
          }
        }
        .general_info {
          .field {
            display: flex;
            .title {
              width: 145px;
              color: #636363;
            }
            .desc {
              color: #636363;
              font-weight: 700;
            }
          }
        }
      }
    }

    .intern_projects {
      margin-top: 1.5rem;
      width: 100%;
      .projects_container {
        .card_title {
          font-weight: 600;
          font-size: 20px;
        }

        .project {
          margin-top: 2rem;
          .project_field {
            display: flex;
            margin-bottom: 5px;

            .title {
              color: #636363;
              width: 140px;
            }
            .desc {
              margin-left: 10px;
              width: 70%;
              font-weight: 600;
              color: #464646;
            }
          }
        }
      }
    }

    .intern_criterias {
      width: 100%;
      margin-top: 2rem;
      .criterias_container {
        .card_title {
          font-weight: 600;
          font-size: 20px;
          margin-bottom: 1rem;
        }
        .criterias {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          height: 200px;
          width: 100%;
          margin-top: 2rem;
          // background-color: red;

          .criteria {
            width: 40%;

            .criteria_content {
              display: flex;
              justify-content: space-between;
              .title {
                font-weight: 600;
                color: #363636;
              }
              .score {
                align-items: center;
                display: flex;
                img {
                  width: 18px;
                  margin-right: 5px;
                }
                span {
                  font-weight: 600;
                  font-size: 1.05rem;
                  margin-bottom: 0;
                  padding-bottom: 0;
                  color: #363636;
                }
              }
            }

            .divider {
              width: 100%;
              height: 1px;
              background-color: #d9d9d9;
              margin-block: 1rem;
            }
          }
        }
      }
    }

    .button_section {
      width: 100%;
      display: flex;
      margin-block: 1rem;
      justify-content: center;
      button {
        border: none;
        color: #fff;
        font-weight: 600;
        background-color: #2589db;
        border-radius: 10px;
        padding-inline: 1rem;
        padding-block: 5px;
        cursor: pointer;
        transition: 0.3s all ease;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
