.wrapper {
  display: flex;
  & > * {
    flex: 1;
  }
  & > *:not(:last-child) {
    margin-right: 1rem;
  }

  .card {
    border-radius: 15px;

    .content {
      display: flex;
      justify-content: space-between;
      .infos {
        .title {
          display: flex;
          align-items: center;

          .circle {
            width: 10px;
            height: 10px;
            background-color: #56d380;
            border-radius: 50%;
          }
          h3 {
            margin-bottom: 0;
            margin-left: 9px;
            color: rgb(128, 127, 127);
          }
        }
        .value {
          font-size: 1.7rem;
          margin: 10px 0 0 15px;
        }
      }
      .icon {
        img {
          width: 60px;
          opacity: 0.6;
        }
      }
    }
  }
}
