.button_wrapper {
  margin-bottom: 1rem;
  display: flex;
  justify-content: flex-end;
}

.select {
  //   margin-left: 0.75rem;
}

.modal {
  width: 900px;
  border: 100px;
  border-radius: 20px;

  .date_picker {
    width: 190px;
    border-radius: 10px;

    &:nth-child(1) {
      margin-left: 4px;
    }
  }

  .text_area {
    border-radius: 10px;
  }
}

// Project Detail Component

.intern_detail_button {
  border: none;
  border-radius: 5px;
  padding-inline: 14px;
  color: #fff;
  background-color: #1b4f70;
  cursor: pointer;
}

.container {
  width: 100%;
  display: flex;
  gap: 2rem;

  .detail_card {
    width: 30%;
    max-width: 300px;
    height: 200px;
    position: relative;

    .name_section {
      display: flex;
      gap: 0.7rem;
      align-items: center;

      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: none;
        background-color: #c4c4c4;
        color: white;
      }

      .active::before {
        z-index: 10;
        margin-top: 34px;
        position: absolute;
        content: "";
        width: 13px;
        height: 13px;
        border-radius: 13px;
        margin-left: 30px;
        background-color: #0fbf00;
      }
      .deactive::before {
        z-index: 10;
        margin-top: 34px;
        position: absolute;
        content: "";
        width: 13px;
        height: 13px;
        border-radius: 13px;
        margin-left: 30px;
        background-color: #bf0000;
      }

      h4 {
        font-weight: 700;
        font-size: 16px;
        margin-bottom: 0;
      }
    }

    .content {
      margin-top: 2rem;
      .content_item {
        display: flex;
        justify-content: space-between;
        max-width: 15rem;
        color: #636363;
      }
    }

    .edit_button {
      position: absolute;
      right: 0;
      top: 0;
      padding-inline: 3px;
      color: #fff;
      background-color: #1b4f70;
      border-bottom-left-radius: 10px;
      cursor: pointer;
      margin-top: 1.7px;
    }
  }

  .right_side {
    width: 70%;
    .progress_card {
      width: 100%;

      .card_top {
        .card_title {
          font-weight: 700;
        }
      }
      .project {
        width: 100%;
        margin-block: 1.43rem;

        .project_titles {
          margin-bottom: 1rem;
          .project_name,
          .project_user,
          .project_description {
            display: flex;
          }
          .project_description {
            .description_content {
              color: rgb(75, 74, 74);
            }
          }
          p {
            color: #828282;
            margin-bottom: 8px;
            min-width: 7rem;
          }
          span {
            color: rgb(29, 28, 28);
            font-weight: 600;
            margin-left: 5px;
          }
        }

        .dates {
          display: flex;
          justify-content: space-between;

          p:nth-child(2) {
            margin-right: 2rem;
          }
        }
      }
    }

    .assigned_interns_card {
      margin-top: 2rem;

      h4 {
        font-weight: 700;
        margin-bottom: 2rem;
      }
    }
  }
}
