.card {
  width: 800px;
  margin-inline: auto;
  border-radius: 10px;
  background-color: #fff;
  padding: 2rem;
  .form_container {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    width: 85%;
    .form_avatar_section {
      display: flex;
      justify-content: center;
      width: 100%;
      // height: 11rem;

      .avatar {
        margin-bottom: 0;
        height: 70px;
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;

        .avatar_logo {
          margin-left: 6rem;
          margin-top: 2rem;
        }
      }

      .temel {
        width: 52%;
        margin-left: auto;

        .date_of_birth,
        .name_inputs,
        .identity {
          width: 100%;
          border-radius: 10px;
        }

        .identity_wrapper {
          margin-bottom: 0;
        }
      }
    }

    .double_group {
      width: 98%;
      margin-left: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin-bottom: 0;

      .form_item {
        width: 49%;
        display: inline-flex;

        &:nth-child(2) {
          margin-left: 0.5rem;
        }

        .element_of_double {
          width: 100%;
          border-radius: 10px;
        }
      }
    }

    .long_input_wrapper {
      width: 97%;
      margin-left: auto;
      .long_input {
        width: 100%;
        margin-left: auto;
        border-radius: 10px;
      }
    }

    .additional_infos {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 0;

      .info_item_wrapper {
        display: inline-flex;
        width: 32.7%;

        &:nth-child(2) {
          margin-inline: 5px;
        }
      }
    }

    .uni_wrapper {
      width: 100%;
      .uni_input {
        width: 100%;
        margin-left: auto;
        border-radius: 10px;
      }
    }

    .started_date,
    .finished_date {
      width: 228px;
    }

    .actions {
      margin-left: 4.5rem;
      .finish_internship {
        width: 5rem;
        display: inline-block;
        p {
          font-size: 1rem;
          color: rgb(46, 46, 46);
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
      }
      .black_list {
        display: inline-block;

        p {
          font-size: 1rem;
          color: rgb(46, 46, 46);
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .form_button {
      padding-inline: 3rem;
      font-size: 1rem;
      padding-block: 2.5px;
      margin-top: 1rem;
      background-color: #0fbf00;
      border: none;
      border-radius: 10px;
      color: #fff;
      cursor: pointer;
      transition: all 0.15s ease;

      &:hover {
        background-color: unset;
        color: #0fbf00;
        border: 1px solid #0fbf00;
      }
    }
  }
}

.md_editor {
  width: 600px;
  margin-bottom: 2rem;
  margin-left: 2rem;
}
