.content_item {
  color: #828282;
  font-weight: 500;
  width: 100%;
  margin-right: 10rem;

  span {
    margin-left: 1rem;
    text-transform: initial;
    opacity: 1;
    font-weight: 500;
    float: right;

    .download_cv {
      border: none;
      border-radius: 4px;
      padding-inline: 1rem;
      padding-block: 2px;
      cursor: pointer;
      a {
        color: #828282;
        display: flex;
        align-items: center;
        column-gap: 5px;
        letter-spacing: 0.6px;
      }
    }
  }
}

.title_section {
  display: flex;
  width: 100%;

  .avatar_active::before {
    z-index: 10;
    margin-top: 47px;
    position: absolute;
    content: "";
    width: 13px;
    height: 13px;
    border-radius: 13px;
    margin-left: 40px;
    background-color: #0fbf00;
  }
  .avatar_deactive::before {
    // display: block;
    z-index: 10;
    margin-top: 47px;
    position: absolute;
    content: "";
    width: 13px;
    height: 13px;
    border-radius: 13px;
    margin-left: 40px;
    background-color: #bf0000;
  }
  .black_list::before {
    // display: block;
    z-index: 10;
    margin-top: 47px;
    position: absolute;
    content: "";
    width: 13px;
    height: 13px;
    border-radius: 13px;
    margin-left: 40px;
    background-color: #262626;
  }

  .title_subtitle {
    margin-left: 0.8rem;
    width: 100%;

    h3 {
      margin-bottom: 0;
      font-weight: 700;
    }

    p {
      margin-top: 0px;
      font-weight: 500;
      opacity: 0.7;
    }

    .tag {
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      padding-block: 5px;
      padding-inline: 30px;
      font-weight: 500;
      text-transform: uppercase;
    }
  }
}

.date_picker {
  width: 190px;
  border-radius: 10px;

  &:nth-child(1) {
    margin-left: 4px;
  }
}

.container {
  display: flex;
  width: 100%;

  .left {
    width: 25%;

    .qrcode_section {
      // position: sticky;
      // top: 26.5rem;
      margin-top: 1rem;

      .qrcode_card {
        min-width: 265px;
        max-width: 315px;
        // padding: 0.5rem;
        margin-top: 1rem;

        .id_section {
          display: flex;
          flex-direction: column;

          span {
            font-weight: 700;
            margin-left: 7px;
            font-size: 12px;
          }
        }

        img {
          width: 100%;
        }
      }

      .button {
        border-radius: 10px;
        background-color: #1b4f70;
        border: none;
        width: 100%;
        min-width: 265px;
        max-width: 315px;
      }
    }
  }
  .right {
    width: 75%;

    //FOR PROJECTS PROGRESS
    .progresses {
      margin-left: 2rem;
      .progresses_card {
        max-width: 850px;

        .card_top {
          display: flex;
          align-items: center;
          .card_title {
            font-size: 17px;
            font-weight: 600;
            margin-bottom: 0;
          }

          .button {
            margin-left: 10px;
            margin-bottom: 2px;
            cursor: pointer;
          }
        }

        .project {
          margin-block: 2rem;
          max-width: 750px;

          .project_titles {
            .project_name,
            .project_user,
            .project_description {
              display: flex;
            }
            .project_description {
              .description_content {
                color: rgb(75, 74, 74);
              }
            }
            p {
              color: #828282;
              margin-bottom: 8px;
              min-width: 7rem;
            }
            span {
              color: rgb(29, 28, 28);
              font-weight: 600;
              margin-left: 5px;
            }
          }

          .dates {
            display: flex;
            justify-content: space-between;

            p:nth-child(2) {
              margin-right: 2rem;
            }
          }
        }
      }
    }

    .all_projects {
      margin-left: 2rem;
      margin-top: 1rem;
      max-width: 850px;
    }

    .criteria {
      margin-left: 2rem;
      margin-top: 1rem;
    }
  }
}

.profile_card_container {
  // position: sticky;
  // top: 2rem;
  .profile {
    position: relative;
    min-width: 265px;
    max-width: 315px;
    width: 100%;
    .edit_button {
      position: absolute;
      right: 0;
      top: 0;
      padding-inline: 3px;
      color: #fff;
      background-color: #1b4f70;
      border-bottom-left-radius: 10px;
      cursor: pointer;
      margin-top: 1.7px;
    }
  }
}

//Project progress content
.new_project_section {
  width: 100%;
  display: flex;
  justify-content: center;
  .new_project {
    width: 100%;
    display: flex;
    justify-content: space-between;

    button {
      background-color: #fff;
      color: #188fff;
      border: 1px solid #188fff;
      border-radius: 10px;
      padding-inline: 1rem;
      cursor: pointer;
      transition: all 0.5s ease;

      &:hover {
        background-color: #188fff;
        color: #fff;
      }
    }
  }
}
