* {
  font-family: "Ubuntu" sans-serif;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-radius: 10px;
}

.ant-slider-track {
  background-color: #0fbf00;
}
.ant-slider-track:hover {
  background-color: unset;
}

.ant-slider:hover .ant-slider-track {
  background-color: #0fbf00;
}
.ant-card-body {
  padding: 16px;
}

/* Modal border radius */

.ant-modal-content {
  border-radius: 10px;
}
.ant-modal-header {
  border-radius: 10px 10px 0 0;
}

.ant-layout-sider {
  position: relative;
  flex: unset !important;
  width: 210px !important;
}
.ant-layout.site-layout {
  width: calc(100vw - 200px);
}

.ant-table-thead tr th {
  font-weight: 600;
}
