.card {
  min-height: 800px;
  border-radius: 15px !important;
  width: 100%;
  max-width: 400px;
  .title_section {
    h3 {
      font-size: 1.1rem;
      font-weight: 500;
      text-align: center;
      color: rgb(90, 90, 90);
    }
    hr {
      opacity: 0.5;
    }
  }

  .interns {
    .intern {
      margin-top: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-inline: 0.3rem;
      .name {
        display: flex;
        align-items: center;

        .link {
          color: #000;
          p {
            margin-bottom: 0;
            margin-left: 5px;
            //   margin-left: 1rem;
            font-size: 1.1rem;
            opacity: 0.9;
          }
        }
      }

      .rating {
        display: flex;
        img {
          width: 18px;
          margin-right: 5px;
        }
        p {
          font-size: 1.2rem;
          font-weight: 600;
          margin-bottom: 0;
        }
      }
    }
  }
}
