.container {
  display: flex;
  justify-content: center;
  column-gap: 2rem;

  .button_search {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0.8rem;

    .button {
      border-radius: 10px;
    }
  }

  .universities_section {
    width: 47%;
  }

  .departments_section {
    width: 47%;
  }
}

.input {
  border-radius: 10px;
}
