.card {
  max-width: 850px;
  width: 100%;
  .card_top {
    display: flex;
    .card_title {
      font-size: 17px;
      font-weight: 600;
      margin-bottom: 0;
    }
    .add_buttons {
      margin-left: 10px;
      display: flex;

      .button {
        cursor: pointer;
      }
    }
  }

  .criterias {
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 100%;

    .criteria_wrapper {
      hr {
        width: 100%;
      }
      &:last-child {
        hr {
          display: none;
        }
      }
    }

    .criteria {
      display: flex;
      justify-content: space-between;
      max-width: 735px;
      //margin-top:.5rem;
      margin-block: 15px;

      .title_description {
        display: flex;
        .title_section,
        .description_section {
          display: flex;
          p {
            color: #828282;
            //margin-block: 12px;
            margin-bottom: 0;
          }
          span {
            color: rgb(29, 28, 28);
            font-weight: 600;
            margin-left: 5px;
          }
        }

        .edit_icon {
          margin-top: 4px;
          margin-left: 10px;
          color: #828282;
        }

        .delete_icon {
          margin-top: 4px;
          margin-left: 5px;
          color: #d52121;
        }
      }
      .rating {
        display: flex;
        align-items: center;
        //margin-bottom:1.5rem;
        p {
          font-weight: 600;
          font-size: 1.05rem;
          margin-bottom: 0;
          padding-bottom: 0;
          margin-left: 7px;
        }
      }
    }

    hr {
      width: 745px;
      margin-left: -2px;
      opacity: 0.4;
    }
  }
}
